apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: canaryhttpmonitors.canary.ukserp.ac.uk
spec:
  group: canary.ukserp.ac.uk
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                url:
                  type: string
                  description: Url to poll over http(s).
                proxy:
                  type: object
                  properties:
                    url:
                      type: string
                      description: Url to a http proxy to use when polling the target url. Null inherits the controllers default, empty string explicitly disables proxy.
                interval:
                  type: integer #seconds
                status:
                  type: integer
                  default: 200
                required:
                  - url
                  - interval
                  - status
  scope: Namespaced
  names:
    plural: canaryhttpmonitors
    singular: canaryhttpmonitor
    kind: CanaryHTTPMonitor
