apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: canaryhttpmonitors.canary.ukserp.ac.uk
spec:
  group: canary.ukserp.ac.uk
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                url:
                  type: string
                interval:
                  type: integer #seconds
                status:
                  type: integer
                  default: 200
  scope: Namespaced
  names:
    plural: canaryhttpmonitors
    singular: canaryhttpmonitor
    kind: CanaryHTTPMonitor
