{{- if .Values.controller.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "canary.fullname" . }}-controller
  namespace: {{ .Release.Namespace }}

  labels:
    app: {{ include "canary.labels.app" . }}
    component: controller
    chart: {{ include "canary.labels.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}

spec:
  replicas: 1

  selector:
    matchLabels:
      app: {{ include "canary.labels.app" . }}
      component: controller
      release: {{ .Release.Name }}

  template:
    metadata:
      labels:
        app: {{ include "canary.labels.app" . }}
        component: controller
        release: {{ .Release.Name }}

    spec:

      restartPolicy: Always
      serviceAccountName: canaryhttpmonitor

      containers:
        - name: controller
          {{- include "canary.image" (dict "image" .Values.controller.image) | indent 10 }}

          envFrom:
            {{- include "canary.envFrom" (dict "Release" .Release "Values" .Values "extraEnv" .Values.controller.extraEnvFrom) | indent 12 }}
          env:
            {{- include "canary.env" (dict "Release" .Release "Values" .Values "extraEnv" .Values.controller.extraEnv) | indent 12 }}

{{- end }}
