{{- if .Values.controller.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "canary.fullname" . }}-controller

  labels:
    app: {{ include "canary.labels.app" . }}
    component: controller
    chart: {{ include "canary.labels.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}

spec:
  replicas: 1

  selector:
    matchLabels:
      app: {{ include "canary.labels.app" . }}
      component: controller
      release: {{ .Release.Name }}

  template:
    metadata:
      labels:
        app: {{ include "canary.labels.app" . }}
        component: controller
        release: {{ .Release.Name }}

    spec:
      restartPolicy: Always

      containers:
        - name: controller
          {{- include "canary.image" (dict "image" .Values.controller.image) | indent 10 }}

      serviceAccountName: canaryhttpmonitor

{{- end }}
