{{- if .Values.podMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ include "canary.fullname" . }}-podmonitor
  namespace: {{ .Release.Namespace }}

  labels:
    app: {{ include "canary.labels.app" . }}
    component: podmonitor
    chart: {{ include "canary.labels.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- range $key, $value := .Values.podMonitor.labels }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  annotations:
    {{- range $key, $value := .Values.podMonitor.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}

spec:
  jobLabel: {{ include "canary.fullname" . }}
  podMetricsEndpoints:
    - interval: {{ .Values.podMonitor.interval }}
      path: /metrics
      port: 8080
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: {{ include "canary.labels.app" . }}
      component: controller
      chart: {{ include "canary.labels.chart" . }}
{{- end }}