canary:

  prometheus:
    hostname:

  defaultNodeSelector: {}
  defaultAffinity: {}
  defaultTolerations: []
  defaultSecurityContext:
    fsGroup: 0

  extraEnv: []
  extraEnvFrom: []
  extraContainers: []
  extraVolumeMounts: []
  extraVolumes: []

crds:
  enabled: true

controller:
  enabled: true

  image:
    repository: harbor.ukserp.ac.uk/canary/canary
    tag: pr-20
    pullPolicy: Always
    pullSecret: ""
    uid: 1001
    gid: 1001

  replicas: 1

  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []
  securityContext: {}
  labels: {}
  podLabels: {}
  annotations: {}
  podAnnotations: {}

  extraEnv: []
  extraEnvFrom: []
  extraContainers: []
  extraVolumeMounts: []
  extraVolumes: []

serviceAccount:
  create: true
  annotations: {}

service:
  type: NodePort
  port: 80