crds:
  enabled: true

controller:
  enabled: true

  tolerations: {}
  nodeSelector: {}
  affinity: {}
  terminationGracePeriod: 15

  labels: {}
  annotations: {}

  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"

  mode: deployment

  deployment:
    replicas: 1

  daemonset:
    updateStrategy: RollingUpdate
    maxUnavailable: 1

  image:
    repository: harbor.ukserp.ac.uk/canary/canary
    tag: 1.5.0
    pullPolicy: IfNotPresent
    pullSecret: ""
    uid: 1001
    gid: 1001

  extraEnv: []
  extraEnvFrom: []

monitor:
  example:
    enabled: false
