podMonitor:
  enabled: true

  labels: {}
  annotations: {}

  interval: 30s


controller:
  enabled: true

  tolerations: []
  nodeSelector: {}
  affinity: {}
  terminationGracePeriod: 15

  labels: {}
  annotations: {}
  extraEnv: []
  extraEnvFrom: []

  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"

  mode: deployment

  deployment:
    replicas: 1

  daemonset:
    updateStrategy: RollingUpdate
    maxUnavailable: 1

  image:
    repository: harbor.ukserp.ac.uk/canary/canary
    tag: 1.7.0
    pullPolicy: IfNotPresent
    pullSecret: ""
    uid: 1001
    gid: 1001

monitors: {}