crds:
  enabled: true

controller:
  enabled: true

  image:
    repository: harbor.ukserp.ac.uk/canary/canary
    tag: 1.5.0
    pullPolicy: IfNotPresent
    pullSecret: ""
    uid: 1001
    gid: 1001
