apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: canaryhttpmonitor
subjects:
- kind: User
  name: canaryhttpmonitor # "name" is case sensitive
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role #this must be Role or ClusterRole
  name: canaryhttpmonitor # this must match the name of the Role or ClusterRole you wish to bind to
  apiGroup: rbac.authorization.k8s.io