apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "canaryhttpmonitor"
rules:
  - apiGroups: [ "", "canary.ukserp.ac.uk" ]
    resources: [ "canaryhttpmonitors" ]
    verbs: [ "get", "watch", "list" ]