apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: canaryhttpmonitor
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [ "", "canary.ukserp.ac.uk" ]
    resources: [ "canaryhttpmonitors" ]
    verbs: [ "get", "watch", "list" ]