apiVersion: "canary.ukserp.ac.uk/v1"
kind: CanaryHTTPMonitor
metadata:
  name: github
  namespace: {{ .Release.Namespace }}
spec:
  url: https://github.com/SwanseaUniversityMedical/Canary
  interval: 30 #seconds

