{{- if .Values.monitor.example.enabled }}
apiVersion: "canary.ukserp.ac.uk/v1"
kind: CanaryHTTPMonitor
metadata:
  name: github-canary
  namespace: {{ .Release.Namespace }}
spec:
  url: https://github.com/SwanseaUniversityMedical/Canary
  interval: 60 #seconds
  status: 200
{{- end }}