name: PR Update

on:
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  # read on both needed for changes detection.
  pull-requests: read
  contents: read
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    # Detect which files have been changed on this PR's full history
    uses: SwanseaUniversityMedical/workflows/.github/workflows/changes-pr.yaml@v5.0.2
    with:
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      filters: |
        canary-container:
          - 'containers/canary/**'
          - 'src/**'
        canary-chart:
          - 'charts/canary/**'

    secrets:
      slack-token: ${{ secrets.SLACK_TOKEN }}

  canary-container:
    # Build the container and push it as :pr-42 and :pr-42-fe45b3h
    needs: changes
    if: fromJSON(needs.changes.outputs.changes).canary-container == 'true'
    uses: SwanseaUniversityMedical/workflows/.github/workflows/build-and-test-pr-container.yaml@v5.0.2
    with:
      job-name: canary-container
      registry: ${{ vars.HARBOR_REGISTRY }}
      registry-user: ${{ vars.HARBOR_USER }}
      registry-repo: ${{ vars.HARBOR_PROJECT }}/canary
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      cosign-public-key: ${{ vars.COSIGN_PUBLIC_KEY }}
      build-file: containers/canary/Dockerfile
      build-context: '.'
    secrets:
      cosign-private-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
      cosign-password: ${{ secrets.COSIGN_PASSWORD }}
      registry-token: ${{ secrets.HARBOR_TOKEN }}
      slack-token: ${{ secrets.SLACK_TOKEN }}

  canary-chart:
    # Build the chart and push it as :pr-42 and :pr-42-fe45b3h
    needs: changes
    if: fromJSON(needs.changes.outputs.changes).canary-chart == 'true'
    uses: SwanseaUniversityMedical/workflows/.github/workflows/on-pr-update-chart.yaml@v5.0.2
    with:
      job-name: chart
      chart: charts/canary
      chart-registry: ${{ vars.HARBOR_REGISTRY }}
      chart-registry-user: ${{ vars.HARBOR_USER }}
      chart-registry-project: ${{ vars.HARBOR_PROJECT }}
      chart-registry-repo: canary
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      cosign-public-key: ${{ vars.COSIGN_PUBLIC_KEY }}
      test-command: |
        helm template $CHART \
          --values charts/canary/values.yaml \
          --include-crds \
          --name-template canary \
          --namespace canary \
          --create-namespace
    secrets:
      cosign-private-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
      cosign-password: ${{ secrets.COSIGN_PASSWORD }}
      chart-registry-token: ${{ secrets.HARBOR_TOKEN }}
      slack-token: ${{ secrets.SLACK_TOKEN }}
