name: Release

on:
  push:
    branches:
      - main

permissions:
  # read needed for changes detection
  # write needed to author a Github release
  contents: write
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  changes:
    # Detect which files have been changed on this PR's full history
    uses: SwanseaUniversityMedical/workflows/.github/workflows/changes-release.yaml@v4.2.0
    with:
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      filters: |
        canary-container:
          - './.github/workflows/on-release.yaml'
          - 'containers/canary/**'
        canary-chart:
          - './.github/workflows/on-release.yaml'
          - 'charts/canary/**'

    secrets:
      slack-token: ${{ secrets.SLACK_TOKEN }}

  canary-container:
    # Build the Airflow container with dags inside and push it as :rc-1.0.0
    needs: changes
    if: fromJSON(needs.changes.outputs.changes).canary-container == 'true'
    uses: SwanseaUniversityMedical/workflows/.github/workflows/on-release-container.yaml@v4.2.0
    with:
      job-name: canary-container
      container-registry: ${{ vars.HARBOR_REGISTRY }}
      container-registry-user: ${{ vars.HARBOR_USER }}
      container-registry-project: ${{ vars.HARBOR_PROJECT }}
      container-registry-repo: canary
      release-tag-format: '${version}'
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      build-command: |
        docker build -t $IMAGE -f containers/canary/Dockerfile .
    secrets:
      container-registry-token: ${{ secrets.HARBOR_TOKEN }}
      slack-token: ${{ secrets.SLACK_TOKEN }}
