name: Release

on:
  push:
    branches:
      - main

permissions:
  # read needed for changes detection
  # write needed to author a Github release
  contents: write
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  changes:
    # Detect which files have been changed on this PR's full history
    uses: SwanseaUniversityMedical/workflows/.github/workflows/changes-release.yaml@v4.3.0
    with:
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      filters: |
        canary-container:
          - 'containers/canary/**'
          - 'src/**'
        canary-chart:
          - 'charts/canary/**'

    secrets:
      slack-token: ${{ secrets.SLACK_TOKEN }}

  canary-container:
    # Build the Airflow container with dags inside and push it as :rc-1.0.0
    needs: changes
    if: fromJSON(needs.changes.outputs.changes).canary-container == 'true'
    uses: SwanseaUniversityMedical/workflows/.github/workflows/on-release-container.yaml@v4.3.0
    with:
      job-name: canary-container
      container-registry: ${{ vars.HARBOR_REGISTRY }}
      container-registry-user: ${{ vars.HARBOR_USER }}
      container-registry-project: ${{ vars.HARBOR_PROJECT }}
      container-registry-repo: canary
      release-tag-format: 'canary-container-${version}'
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      cosign-public-key: ${{ vars.COSIGN_PUBLIC_KEY }}
      build-command: |
        docker build -t $IMAGE -f containers/canary/Dockerfile .
    secrets:
      cosign-private-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
      cosign-password: ${{ secrets.COSIGN_PASSWORD }}
      container-registry-token: ${{ secrets.HARBOR_TOKEN }}
      slack-token: ${{ secrets.SLACK_TOKEN }}

  canary-chart:
    # Build the chart and push it as x.y.z-rc
    needs: changes
    if: fromJSON(needs.changes.outputs.changes).canary-chart == 'true'
    uses: SwanseaUniversityMedical/workflows/.github/workflows/on-release-chart.yaml@v4.3.0
    with:
      job-name: canary-chart
      chart-registry: ${{ vars.HARBOR_REGISTRY }}
      chart-registry-user: ${{ vars.HARBOR_USER }}
      chart-registry-project: ${{ vars.HARBOR_PROJECT }}
      chart-registry-repo: canary
      release-tag-format: 'canary-chart-${version}'
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      cosign-public-key: ${{ vars.COSIGN_PUBLIC_KEY }}
      chart: charts/canary
      test-command: |
        helm template $CHART \
          --values charts/canary/values.yaml 
          --include-crds \
          --name-template canary \
          --namespace canary \
          --create-namespace
    secrets:
      cosign-private-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
      cosign-password: ${{ secrets.COSIGN_PASSWORD }}
      chart-registry-token: ${{ secrets.HARBOR_TOKEN }}
      slack-token: ${{ secrets.SLACK_TOKEN }}
